

#lines starting with a '#' are ignored
#ssid is your wifi name, psk is your password
#standard wpa_supplicant syntax if you want something fancy
#priorities allow you to default to home network when home, and
#auto-connect to your phone wifi when out of the house while still
#reconnecting to home when you get home.

network={
	ssid="Sperry"
	psk="fingerprints on the moon"
	#priority=600
	#freq_list=2412 2437 2462 
}
